@media screen and (max-width: 767px) {
  button:active {
    background-color: white;
    color: #04ddb2;
    border: inset 2px solid #04ddb2;
    transform: scale(1.2);
  }

  img {
    max-width: 800px;
    min-width: 300px;
    border-radius: 20px;
    box-shadow: 3px 10px 20px 10px rgba(0, 0, 0, 0.4);
  }

  .navbar-container {
    width: 100%;
    position: relative;
     /* Ensure it's above other content */
  }

  .navigation .innav {
    display: none;
  }

  .navbar .dropdown-container {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(235, 229, 229, 0.74);
    width: 300px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: all 0.5s;
  }

  .dropdown-content a:hover {
    background-color: rgba(4, 221, 178, 0.74);
  }

  .dropdown-container:hover .dropdown-content {
    display: block;
    transform: translateX(-100px);
    padding: 20px 0;
  }

  .main {
    margin-top: 30px;
  }
  
  .sm1 {
    margin-top: 5vh;
    text-align: center;
  }

  .sm1 {
    width: auto;
  }
  
  .smp1 {
    display: flex;
    justify-content: center;
    font-size: 2.1rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  .sm1 .smp2 {
    word-break: normal;
    font-size: 1.1rem;
    width: auto;
  }

  .blur {
    max-width: 400px;
  }

  .sm2 h1 {
    font-size: 2rem;
    font-weight: bold;
  }
 
  .foot .infoot {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
  }

  .infoot div {
    height: 175px;
    width: auto;
  }

  .infoot .fola {
    display: inline;
    margin-right: 20px;
    height: 80px;
  }
}