body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 12px;
  font-family: Helvetica;
}

img {
  width: 800px;
  min-width: 300px;
  border-radius: 20px;
  box-shadow: 3px 10px 20px 10px rgba(0, 0, 0, 0.4);
}

button {
  background-color: #04ddb2;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 1s, color 0.8s, transform 1s; 
}

button:hover {
  background-color: white;
  color: #04ddb2;
  border: inset 2px solid #04ddb2;
  transform: scale(1.2);
}

a {
  text-decoration: none;
  color: rgb(63, 63, 63);
}

.navbar-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000; /* Ensure it's above other content */
}

.navbar {
  background-color:  rgb(255, 255, 255, 0.94);
  padding: 20px 0;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  margin: 0 5%;
}

.innav {
  display: flex;
  margin-right: -100px;
  gap: 30px;
}

.innav a {
  transition: color 0.5s, text-decoration 0.5s, transform 0.5s;
}

.innav a:hover {
  color: #04ddb2;
  text-decoration: underline;
  transform: scale(1.1);
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.main * {
  margin-top: 0;
  margin-bottom: 8vh;
}

.sm1 {
  margin-top: 8vh;
  text-align: center;
}

.smp1 {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0;
}

.smp1 p {
  margin-bottom: 0;
}

.sm1p2 {
  color: #04ddb2;
}

.sm1 .smp2 {
  font-size: 1.4rem;
  width: 600px;
}

.sm2 {
  text-align: center;
  margin-bottom: 8vh;
}

.sm2 h1 {
  font-size: 3rem;
  font-weight: bold;
}

.sm2 button {
  margin-bottom: 0;
}

.sm2 .blur {
  transition: transform 1s;
}

.blur:hover  {
  transform: scale(1.1);
}

.foot {
  max-width: 1100px;
  margin: auto;
  border-top: 1px solid rgb(119, 116, 116);
}

.infoot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 5vh;
  height: 40vh;
}

.infoot p {
  font-size: 1.2rem;
}

.infoot a {
  font-size: 1rem;
  color: rgb(58, 57, 57);
}

.infoot a:hover {
  color: #04ddb2;
  transform: scale(1.1);
}

.infoot div {
  display: flex;
  flex-direction: column;
}

.infoor .fola {
  display: inline;
}